<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.exit4web.currencyconverter</string>
	<key>connections</key>
	<dict>
		<key>089E4F01-0962-4C51-A276-CC83795C7F7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8C33E52-EE70-42AE-9382-3CE25F1887E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>20EE690B-5FAB-43F2-BB70-A2CD9998BE50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>569188F4-0665-4FB2-8890-CF67D35D99C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4582263F-3BD2-4C8C-BE92-885558B2AB09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EA7041C-9AFC-4C3B-A20D-3E146FE2B8E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>49937CBC-15F2-40F2-869E-05389B3132B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>567440A9-0F78-4C99-9E28-C6101B0723C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>567440A9-0F78-4C99-9E28-C6101B0723C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FAA9D33-6197-4A11-A578-806849E422AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>569188F4-0665-4FB2-8890-CF67D35D99C5</key>
		<array/>
		<key>6EA7041C-9AFC-4C3B-A20D-3E146FE2B8E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FAA9D33-6197-4A11-A578-806849E422AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Luca Bigon</string>
	<key>description</key>
	<string>Live currency converter</string>
	<key>name</key>
	<string>Currency Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>currency-set-to</string>
				<key>script</key>
				<string>php -f e4WorkflowApp.php -- "set to {query}"</string>
				<key>subtext</key>
				<string>Change default currency</string>
				<key>title</key>
				<string>Currency: set default to</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4582263F-3BD2-4C8C-BE92-885558B2AB09</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php -f e4WorkflowApp.php -- "set to {query}" "save"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6EA7041C-9AFC-4C3B-A20D-3E146FE2B8E5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A8C33E52-EE70-42AE-9382-3CE25F1887E3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>currency-set-from</string>
				<key>script</key>
				<string>php -f e4WorkflowApp.php -- "set from {query}"</string>
				<key>subtext</key>
				<string>Change default currency</string>
				<key>title</key>
				<string>Currency: set default from</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>49937CBC-15F2-40F2-869E-05389B3132B5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>currency-help</string>
				<key>script</key>
				<string>php -f e4WorkflowApp.php -- "help"</string>
				<key>subtext</key>
				<string>Informations about Currency Converter</string>
				<key>title</key>
				<string>Currency: on-line help</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>20EE690B-5FAB-43F2-BB70-A2CD9998BE50</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>569188F4-0665-4FB2-8890-CF67D35D99C5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Currency Converter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6FAA9D33-6197-4A11-A578-806849E422AC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php -f e4WorkflowApp.php -- "set from {query}" "save"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>567440A9-0F78-4C99-9E28-C6101B0723C9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>currency</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "{query}" "default"</string>
				<key>subtext</key>
				<string>Try ‘12 €‘, ‘12 € to $‘ or ‘€‘ and convert your currency</string>
				<key>title</key>
				<string>Currency</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>089E4F01-0962-4C51-A276-CC83795C7F7F</string>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>089E4F01-0962-4C51-A276-CC83795C7F7F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>20EE690B-5FAB-43F2-BB70-A2CD9998BE50</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>4582263F-3BD2-4C8C-BE92-885558B2AB09</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>49937CBC-15F2-40F2-869E-05389B3132B5</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>567440A9-0F78-4C99-9E28-C6101B0723C9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>569188F4-0665-4FB2-8890-CF67D35D99C5</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>6EA7041C-9AFC-4C3B-A20D-3E146FE2B8E5</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>6FAA9D33-6197-4A11-A578-806849E422AC</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>A8C33E52-EE70-42AE-9382-3CE25F1887E3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/BigLuck/alfred2-currencyconverter</string>
</dict>
</plist>
